{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team7 - Phase4</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'core/dist/umd/popper.min.js' %}">
  </head>

  <body>
    <nav class='navbar navbar-expand-lg bg-light'>
      <div class='container-fluid'>
        <a class='navbar-brand' href="{% url 'index' %}">홈</a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        {% if is_user is 1%}
          <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
              <li class='nav-item'>
                <a class='nav-link' href="{% url 'placeRegist' %}">장소 등록</a>
              </li>
              <li class='nav-item'>
                <a class='nav-link' href="{% url 'courseRegist' %}">코스 등록</a>
              </li>
            </ul>
            <a class='d-flex text-decoration-none' href="{% url 'courseSearch' %}">
              <input class="form-control me-2" type="search" placeholder='코스 검색' aria-label="Search">
            </a>
          </div>
        {% endif %}
      </div>
    </nav>
    <div class='container'>
      {% if user.is_authenticated %}
        <div class='d-flex my-3'>
          {% if is_user is 1%}
            <a id='couplename' class='text-decoration-none' data-bs-toggle="popover" data-bs-title="커플 코드" data-bs-content='{{couplename}}'>
              환영합니다,
              {{user.username}}님
            </a>
          {% else %}
            <a href='{% url 'menuRegist' %}'>
              메뉴 등록
            </a>
          {% endif %}
          <a class='ms-auto' href="{% url 'logout' %}">logout</a>
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <script>
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
  </body>

</html>
