<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코스 등록</title>
</head>
<body>
    <form action = "{% url "courseRegSubmit" %}" method = "POST">
        {% csrf_token %}
        <h3>코스 등록 페이지입니다.</h3>
        <input type = "text" name = "courseName" placeholder = "코스 이름을 입력하세요">
        <!-- 코스에 장소 등록을 어떻게? -->
        {% for rows in list%}
        <div>
            <input type="checkbox" name = "places[]" id = "{{rows.0}}" value = "{{rows.0}}">
            <label for = "{{rows.0}}">place name : {{rows.1}} location : {{rows.2}} {{rows.3}} {{rows.4}} {{rows.5}}</label>
        </div>
        {% endfor %}
        <label for="placeName"></label>
        <button type = "submit">등록하기</button>
    </form>
</body>
</html>