<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코스 디테일</title>
</head>
<body>
    <h3>{{coursename}} 코스의 디테일 페이지 입니다</h3>
    <h4>코스에 속한 장소들</h4>
    <table border = "1">
        <th>순번</th>
        <th>이름</th>
        <th>주소</th>
        <th>바로가기</th>
        {% for rows in list1 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{rows.1}}</td>
            <td>{{rows.2}} {{rows.3}} {{rows.4}} {{rows.5}}</td>
            <td><a href="{% url 'placeDetail' rows.6 %}"><button>상세보기</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <h4>코스의 댓글</h4>
    <table border = "1">
        <th>순번</th>
        <th>내용</th>
        <th>작성자</th>
        <th>작성일시</th>
        {% for rows in list2 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{rows.0}}</td>
            <td>{{rows.1}}</td>
            <td>{{rows.2}}</td>
        </tr>
        {% endfor %}
        
    </table>
    <h4>댓글 작성하기</h4>
    <form action = {%url 'courseCommentRegist' courseid %} method="post">
        {% csrf_token %}
        <input type = "text", name = "comment_txt", placeholder = "댓글을 입력하세요">
        <input type = "submit", value = "등록">
    </form>
    <form action = "{% url "index" %}" method = "POST">
        {% csrf_token %}
        <input type = "submit" value="홈으로">
    </form>
</body>
</html>