<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코스 검색하기</title>
</head>
<body>
    <form action = "{% url "courseSearchbyKey" %}" method = "POST">
        {% csrf_token %}
        <h3>코스 검색 페이지입니다.</h3>
        <h4>검색할 내용을 입력하세요</h4>
        <input type = "text" name = "searchKey" placeholder="검색어를 입력하세요.">
        <input type = "submit" value = "검색">
    </form>
    {% if key != 'NULL'%}
    <h4>카테고리 이름에 {{key}}(이)가 포함된 장소가 속한 코스 목록</h4>
    <table border = "1">
        <th>순번</th>
        <th>CourseID</th>
        <th>코스 이름</th>
        <th>바로 가기</th>
        {% for rows in list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{rows.0}}</td>
            <td>{{rows.1}}</td>
            <td><a href="{% url 'courseDetail' rows.0 %}"><button>상세보기</button></a> </td>
        </tr>
        {% endfor %}
    </table>
    <h4>이름에 {{key}}(이)가 포함된 코스 목록</h4>
    <table border = "1">
        <th>순번</th>
        <th>CourseID</th>
        <th>코스 이름</th>
        <th>바로 가기</th>
        {% for rows in list2 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{rows.0}}</td>
            <td>{{rows.1}}</td>
            <td><a href="{% url 'courseDetail' rows.0 %}"><button>상세보기</button></a> </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action = "{% url "index" %}" method = "POST">
        {% csrf_token %}
        <input type = "submit" value="홈으로">
    </form>
</body>
</html>