{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>일기 상세</title>
  </head>

  <body class='text-center'>

    <h3 class='p-3 m-0 bg-info'>일기</h3>
    <div class='container'>
      <div class="card my-1" style="">
        <img src="{{diary.1}}" class="card-img-top" alt="" height="100%">
        <div class="card-body">
          <h5 class="card-title">{{diary.0}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ diary.2 | date:"Y/m/d(D) h:i:s" }}
          </h6>
        </div>
      </div>
      <a href="{% url 'index' %}">
        <button class='my-3 btn btn-primary'>홈으로</button>
      </a>
    </div>
  </body>

</html>